<div class="row">
	<div class="col-xs-4">
		<span class="info-title">{% if item.icon %}{{ icon(item.icon) }} {% endif %}{{ item.title|raw }}</span>
	</div>
	<div class="col-xs-8">
		<span class="info-content">{{ item.content|raw }}</span>
	</div>
</div>