{% extends 'UneakFlatSkinBundle:Block:block.html.twig' %}

{% block content %}
    <ul>
        {% for block in item.content.blocks %}
            <li>{{ renderBlock(block) }}</li>
        {% endfor %}
    </ul>
{% endblock %}
