<div class="progress progress-sm"{% if item.backgroundColor %} style="background-color: {{ item.backgroundColor }};"{% endif %}>
	{% for block in item.blocks %}
		{{ renderBlock(block) }}
	{% endfor %}
</div>

