<a href="#">
	<span class="photo">
        <img alt="avatar" src="{{ item.photo }}"/>
	</span>
    <span class="subject">
        <span class="from">{{ item.title|raw }}</span>
        <span class="time">{{ item.time }}</span>
    </span>
    <span class="message">{{ item.subTitle }}</span>
</a>