<!--header start-->
<header class="header white-bg">
	<div class="sidebar-toggle-box">
		<div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars tooltips"></div>
	</div>

	{{ render_blockManager('header_left') }}

	<div class="top-nav">
		<ul class="nav pull-right top-menu">

			{{ render_blockManager('header_right') }}

			{#<li class="sb-toggle-right">#}
				{#<i class="fa fa-align-right"></i>#}
			{#</li>#}
		</ul>
	</div>
</header>
<!--header end-->