<div class="nav notify-row" id="top_menu">
    <!--  notification start -->
    <ul class="nav top-menu">
    {% for block in item.blocks %}
        <li class="dropdown">
			{{ renderBlock(block) }}
        </li>
    {% endfor %}
    </ul>
</div>