{% spaceless %}
<div class="menuDiv">
    <span class="pull-left">
        <a href="javascript:;" class="disclose fa fa-chevron-down"></a>
    </span>
    <span class="itemTitle">{{ item.label }}</span>
    <span class="pull-right">
        {{ renderBlock(blockMenu) }}
    </span>
</div>
{% endspaceless %}