<div class="menuDiv">
    <span class="pull-left">
        <a href="javascript:;" class="disclose fa fa-chevron-down"></a>
    </span>
    <span class="itemTitle">{{ title }}</span>
    <span class="pull-right">
        <a href="javascript:;" class="edit fa fa-pencil-square-o"></a>
        <a href="javascript:;" class="fa fa-times"></a>
    </span>
</div>
